<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin Profile</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-person-bounding-box"></i> <span class="ms-1 d-none d-sm-inline">Admins Panel</span></a>
                    <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="/admins-panel" class="nav-link px-0"> 
                              <i class="fa-solid fa-users"></i><span class="d-none d-sm-inline">Admins</span></a>
                        </li>
                        <li class="w-100">
                            <a href="/new-admin" class="nav-link px-0"> 
                                <i class="fa-solid fa-user-plus"></i><span class="d-none d-sm-inline">Add Admin</span></a>
                        </li>
                    </ul>
                </li>
                  <li>
                        <a href="/admin-orders" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders History</span></a>
                    </li>
                    <li>
                      <a href="/pending-orders" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-clipboard"></i> <span class="ms-1 d-none d-sm-inline">Pending Orders</span> </a> 
                    </li>
                    <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products Panel</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="/prods" class="nav-link px-0"> 
                                  <i class="fa-solid fa-boxes-stacked"></i><span class="d-none d-sm-inline">Products</span></a>
                          </li>
                          <li class="w-100">
                              <a href="/prodreg" class="nav-link px-0"> 
                                  <i class="fa-solid fa-box"></i><span class="d-none d-sm-inline">Add Product</span></a>
                          </li>
                          <li class="w-100">
                            <a href="/dollar-factor" class="nav-link px-0"> 
                                <i class="fa-solid fa-box"></i><span class="d-none d-sm-inline">Update Currency</span></a>
                          </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/deliveries" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-file-post-fill"></i><span class="ms-1 d-none d-sm-inline">Deliveries</span> </a> 
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none" aria-expanded="false" (click)="logout()">
                        <i class="fs-4 bi bi-person-circle"></i>
                        <span class="d-none d-sm-inline mx-1">Logout</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col py-3 mt-4">
            <!--  Content Area Start  -->
            <div class="scrollable">      
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                          <div class="container mt-4" >
     
                            <div class="card container">
                              <div class="title">Edit Product# {{pid}}</div>
                              <hr>
                                <div class="box">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row">
                                        <div class="col-md-5">
                                          <div class="card" style="padding: 20px; border-width: 1px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border-color: lightgrey;">
                                            <form class="was-validated">
                                              <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Enter Name" required/>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                              </div>
                                          
                                              <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" 
                                                    [(ngModel)]="description" 
                                                    [ngModelOptions]="{standalone: true}"
                                                    id="description" 
                                                    placeholder="Provide the product description"
                                                    rows="5"
                                                    required
                                                ></textarea>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                              </div>
                                            
                                                <div class="form-group">
                                                  <label>Price</label>
                                                  <input type="text" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="form-control" id="price" placeholder="Enter Price" required/>
                                                  <div class="valid-feedback">Valid.</div>
                                                  <div class="invalid-feedback">Please fill out this field.</div>
                                                </div>
                                                                                          
                                                <div class="block">
                                                  <button type="submit" class="btn btn-primary mt-4" (click)="edit_product()">Submit</button>
                                                </div>
                                              </form>    
                                              </div>
                                        </div>
                                        <div class="col-md-7">
                                          <div class="card" style="padding: 10px; border-width: 1px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border-color: lightgray;">  
                                            <div class ="table-responsive-md">
                                              <table class ="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col" colspan="5">Images</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td colspan="5">
                                                          <img class="img-fluid" src="{{images[currentPhotoIndex]}}" alt="Current images" width="500px" height="300px"/>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                      <td><a class="btn" (click)="handlePrevClick($event)"><i class="fa fa-angle-double-left" style="font-size: 1.5em; cursor: pointer;"></i></a></td>
                                                      <td><p style="font-weight: lighter; padding-top: 7px;">Image [{{currentPhotoIndex+1}}/{{images.length}}]</p></td>
                                                      <td><a class="btn" (click)="handleNextClick($event)"><i class="fa fa-angle-double-right" style="font-size: 1.5em; cursor: pointer;"></i></a></td>        
                                                      <td>
                                                        <!-- Upload -->
                                                        <div *ngIf="uploadToggle">
                                                          <a class="btn" (click)="handleSubmit()"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div *ngIf="!uploadToggle">
                                                          <label for="fileUpload" class="form-label">
                                                            <div class="input-group">
                                                                <input type="file" multiple accept="image/*" class="form-control" id="fileUpload" (change)="handleUploadImage($event)" aria-describedby="fileUploadAddon">
                                                                <span class="input-group-text" id="fileUploadAddon">
                                                                    <i class="fas fa-upload" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                          </label>
                                                        </div>
                                                        <!-- upload -->
                                                      </td>
                                                      <td><a class="delete-btn" (click)="handleDelete(currentPhotoIndex)"><i class="fas fa-trash-alt"></i></a></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <div *ngFor="let file of upload_fileNames">
                                                <div class="success text-success">{{file}} is attached</div>
                                              </div>  
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                  </div>
                            </div>
                            <div>
                
                        </div>
                    <div class="col-md-1"></div>
                </div>
              </div>
    
            <!--  Content Area End  -->            
        </div>
    </div>
  </div>  