  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
  }

  label{
    color: darkblue;
  }
  
  .card{
    padding: 10px;
    border-width: 2px; 
    border-color: darkblue; 
  }

  .col-auto{
    padding: 5px;
  }

  .btn-primary{
    background-color: darkblue;
    border-radius:0%; 
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    text-align: center;
  }
  
  .verification {
    margin-top: 20px;
  }
  
  .otp-input-fields {
    margin: auto;
    max-width: 420px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px;
  }
  
  .otp_num {
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    border: 1px solid #2f8f1f;
    font-size: 14px;
  }
  
  .otp_num::-webkit-inner-spin-button,
  .otp_num::-webkit-outer-spin-button {
    appearance: none;
  }
  
  .success,
  .error {
    text-align: center;
  }








  

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  width: 50%;
  background-color: #324AB2;
  color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: darkblue;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: darkblue;
}
