<div class="container mt-5" >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card">
            <p style="font-family: Arial, Helvetica, sans-serif;">Paying</p>
            <p style="font-size:xx-large;font-family:Arial, Helvetica, sans-serif">₹ {{amount}}</p>
            <div>
            <google-pay-button
            environment="TEST"
            buttonColor="black"
            buttonType="buy"
            [paymentRequest]="paymentRequest" [style.width.px]="buttonWidth"
            (loadpaymentdata)="onLoadPaymentData($event)"
            (error)="onError($event)"
            [paymentAuthorizedCallback]="onPaymentDataAuthorized"
            /></div>        
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
</div>


<div class="wrapper">
</div>