.btn-primary{
    background-color: darkblue;
    width: 25%;
    margin: 10px 0px 0px 420px;
}


.card{
    border-width: 2px; 
    border-color: darkblue; 
    border-radius: 1rem;
}

.box{
    padding: 10px;
}

.title{
    text-align: center; 
    font-size: xx-large; 
    font-weight: bold; 
    color: darkblue;
}


@media (max-width: 360px){
    .btn-primary{
        background-color: darkblue;
        width: 50%;
        margin: 10px 0px 0px 80px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 768px){
    .btn-primary{
        background-color: darkblue;
        width: 50%;
        margin: 10px 0px 0px 80px;
    }
}